html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 40px;
}

#tree-container {
    overflow-y: scroll;
}

#selectionContainer {
    height: 150px;
    overflow-y: scroll;
    font-family: monospace;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}